{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
		<div class="cgl-site layout-column layout-fill">
 
 			<main class="layout-column layout-padding flex">
				<section class="snap-960">
					<h1 class="md-display-1" style="color:#FF6B6B;">About the Analysis Core</h1>
					<p class="md-body-1">Our model is to work side-by-side with researchers to design and build analysis pipelines and cloud infrastructure as part of their larger projects.  To that end, we work with researchers while writing grant proposals to ensure adequate computational resources are included for new projects.  Following funding, we scale up our analysis on commercial or academic clouds to ensure projects receive their analyzed data as fast as possible.</p>
				</section>
			</main>

      	<script type="text/javascript" src="https://clevercanary.github.io/ucsc-cgl-style-guide/scripts/cgl-hamburger.component.js"></script>
      </div>
{% endblock %}
