<!DOCTYPE html>
<html>
        <head>
                <meta http-equiv="content-type" content="text/html; charset=UTF-8">

			<title>{% block title %}{% endblock %}</title>

                        <!-- clever canary files -->
                        <link rel="stylesheet" href="https://clevercanary.github.io/ucsc-cgl-style-guide/styles/styles.css">
                        <link rel="stylesheet" href="https://clevercanary.github.io/ucsc-cgl-style-guide/styles/docs.css">
                        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

                        <!-- favicon -->
                        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-57x57.png" />
                        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-114x114.png" />
                        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-72x72.png" />
                        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-144x144.png" />
                        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-60x60.png" />
                        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-120x120.png" />
                        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-76x76.png" />
                        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-152x152.png" />
                        <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-196x196.png" sizes="196x196" />
                        <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-96x96.png" sizes="96x96" />
                        <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-32x32.png" sizes="32x32" />
                        <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-16x16.png" sizes="16x16" />
                        <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-128.png" sizes="128x128" />
                        <meta name="msapplication-TileColor" content="#FFFFFF" />
                        <meta name="msapplication-TileImage" content="mstile-144x144.png" />
                        <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
                        <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
                        <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
                        <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

			{% block meta_extra %}{% endblock %}
		</meta>

                {% block style_extra %}{% endblock %}
	</head>

        <body ng-controller="API_Controller">

	      <header> <!-- HTML 5 semantic element -->
				<md-toolbar> <!-- Material Design-based toolbar -->
					<md-toolbar-row> <!-- Required for correct alignment of child elements -->
						<img src="https://clevercanary.github.io/ucsc-cgl-style-guide/images/logos/ucsc-gi/logo-ucsc-gi@1x.png" srcset="https://clevercanary.github.io/ucsc-cgl-style-guide/images/logos/ucsc-gi/logo-ucsc-gi@2x.png 2x, https://clevercanary.github.io/ucsc-cgl-style-guide/images/logos/ucsc-gi/logo-ucsc-gi@3x.png 3x"> <!-- Use srcset to specify responsive images -->
			
						<!-- Hamburger start -->
						<button md-icon-button menu-open>
							<span class="md-button-wrapper">
								<md-icon role="img" class="material-icons">menu</md-icon>
							</span>
						</button>
						<button md-icon-button menu-close>
							<span class="md-button-wrapper">
								<md-icon role="img" class="material-icons">close</md-icon>
							</span>
						</button>
						<!-- Hamburger end -->
			
						<!-- Nav start -->
						<cc-toolbar-nav>
							<cc-toolbar-nav-item class="active">
								<a href="{{ url_for('home') }}">Analysis Core</a>
							</cc-toolbar-nav-item>
							<cc-toolbar-nav-item>
								<a href="file_browser">File Browser</a>
							</cc-toolbar-nav-item>
							<cc-toolbar-nav-item>
								<a href="{{ url_for('boardwalk') }}">Boardwalk</a>
							</cc-toolbar-nav-item>
							<cc-toolbar-nav-item>
								<a href="{{ url_for('redwood') }}">Redwood</a>
							</cc-toolbar-nav-item>
							<cc-toolbar-nav-item>
								<a href="{{ url_for('spinnaker') }}">Spinnaker</a>
							</cc-toolbar-nav-item>
							<cc-toolbar-nav-item>
								<a href="https://ucsc-cgl.atlassian.net/wiki/">Wiki</a>
							</cc-toolbar-nav-item>
							<cc-toolbar-nav-item>
								<a href="{{ url_for('about') }}">About</a>
							</cc-toolbar-nav-item>
							<cc-toolbar-nav-item>
								<a href="{{ url_for('help') }}">Help</a>
							</cc-toolbar-nav-item>
						</cc-toolbar-nav>
						<!-- Nav end -->
					</md-toolbar-row>
				</md-toolbar>
			</header>

            {% block content %}
            {% endblock %}

 			<footer>
				 <div class="cgl-links layout-column layout-gt-sm-row layout-padding">

					  <!-- Top row, left-hand links on small + devices -->
					  <cgl-footer-nav class="layout-column layout-gt-sm-row">
							<cgl-footer-nav-item>
								 <a href="https://www.ucsc.edu">UCSC</a>
                                                                 </cgl-footer-nav-item>
                                                                 <cgl-footer-nav-item>
                                                                 <a href="https://ucscgenomics.soe.ucsc.edu/">UCSC Genomics Institute</a>
							</cgl-footer-nav-item>
							<cgl-footer-nav-item>
								 <a href="https://cgl.genomics.ucsc.edu/">UCSC Computational Genomics Laboratory</a>
							</cgl-footer-nav-item>
					  </cgl-footer-nav>

					  <!-- Top row, right-hand links on small + devices -->
					  <cgl-footer-nav class="layout-column layout-gt-sm-row">
							<cgl-footer-nav-item>
								<a href="{{ google_authorization_url }}">Google Sign-in</a>
							</cgl-footer-nav-item>
							<cgl-footer-nav-item>
								<a href="mailto:broconno@ucsc.edu" target="_top">Email</a>
							</cgl-footer-nav-item>
							<cgl-footer-nav-item>
								<a href="https://www.facebook.com/UCSCGenomicsInstitute/?fref=ts">Facebook</a>
							</cgl-footer-nav-item>
							<cgl-footer-nav-item>
								<a href="https://twitter.com/ucscgenomics">Twitter</a>
							</cgl-footer-nav-item>
					  </cgl-footer-nav>

				 </div>

				 <!-- Copyright row -->
				 <div class="cgl-disclaimer layout-column layout-gt-sm-row">
					  <span>Copyright © 2016, The Regents of the University of California, Santa Cruz.</span> <span>All Rights Reserved. Apache-2.0 licence.</span>
				 </div>
			</footer>
        </body>
</html>
